//poppinstext
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap');

//herotext
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

$PouncyPink: #E6BEAE;
$heroimage: url('../../../media/homepage/hphero.png');


section{
    display: flex;
    flex-direction: column;
}

.fullsizehero {
    background-image: $heroimage;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: auto;
}


.herobutt {
    background-color:$PouncyPink ;
    height: 10vh;
    width: 17vw;
    font-family: 'amatic SC';
    color: white;
    margin-top: 85vh;
    font-size: 7vh;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 3px rgba(13, 13, 13, 0.35);
    
}

button:hover{
    background-color: #333333;

}

@media (max-width: 480px) {
    .herobutt {
        font-size: 4vh;
        height: 10vh;
    width: 57vw;
    }

    }
    
    @media (min-width: 481px) and (max-width: 767px) {
        .herobutt {
            font-size: 4vh
        }
    }
    
    @media (min-width: 768px) and (max-width: 979px) {
        .herobutt {
            font-size: 4vh
        }
    }
    
    @media (min-width: 1200px) {
        .herobutt {
            font-size: 6vh;
            
        }
    }