


.mastynav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 80vh;
}

.navcont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}

.logo{
    background-image: url('./../../../media/logos/Rectangle\ 2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 20vh;
    position: relative;
   

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    margin-top: 6vh;
}

li{
    text-overflow: none;
    word-wrap: none;
    list-style: none;
    width: 10vw;
    white-space: nowrap;
}
.Phoney{
    font-weight: bolder;
}



@media (max-width: 480px) {
    ul {
        margin-top: 2vh;
        margin-left: -8vw;
    }
    .mastynav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        bottom: 65vh;
        z-index: 1;
    }

    }
    
    @media (min-width: 481px) and (max-width: 767px) {
        ul {
            margin-top: 3vh;

        }
    }
    
    @media (min-width: 768px) and (max-width: 979px) {
        ul {
            margin-top: 4vh;
        }
    }
    
    @media (min-width: 1200px) {
        
    }