.poppin-banner-hold {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  width: 100vw;
}
.banhold {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}
.bannerpoppin {
  background-image: url("../../../media/homepage/hpbanner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 25% 25%;
  width: 100vw;
  height: 55vh;
  position: relative;
  bottom: 20vh;
}

@media (max-width: 480px) {
  .banhold {
    width: 100vw;
    height: 10vh;
  }
  .bannerpoppin {
    background-image: url("../../../media/homepage/hpbanner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    width: 100vw;
    position: relative;
    bottom: 12vh;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 979px) {
}

@media (min-width: 1200px) {
    .bannerpoppin {
        background-image: url("../../../media/homepage/hpbanner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 25% 25%;
        width: 100vw;
        position: relative;
        bottom: -2vh;
      }
}

@media (min-width: 1500px) {
    .bannerpoppin {
        background-image: url("../../../media/homepage/hpbanner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 25% 25%;
        width: 100vw;
        position: relative;
        bottom: 1vh;
      }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .banhold {
    width: 100vw;
    height: 10vh;
  }
  .bannerpoppin {
    background-image: url("../../../media/homepage/hpbanner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    width: 100vw;
  
    margin-bottom: 10vh;
  }
}
