@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins&display=swap');


.sectionOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4vh;
    width: 100vw;
  
}

.section3cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    height: auto;
    padding-bottom: 15%;
}

.imagehold{
   
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 30vw;
}

.right-cont{
   margin-top: -3%;
    text-align: left;
}
.left-cont{
    height: 80vh;
}
.headertext1 {
    font-family: 'Helvetica Neue';
    
    
}

.body1{
    font-size: 1.75vw;
    font-weight: 300;
}
.photobutt{
    margin-top: 2vh;
    margin-left: 1vw;
    height: 7vh;
    width: 25vw;
    border: none;
    background-color: #E6BEAE;
    font-family: 'poppins';
    color: white;
    font-size: 2vmax;
    font-weight: lighter;
    box-shadow: 1px 3px rgba(13, 13, 13, 0.35);
}
// @media (max-width: 1200px){
//     .imagehold{
//         background-image: url('./../../../media/homepage/hprow1.png');
//         background-size: contain;
//         background-repeat: no-repeat;
//         width: 60vw;
//         height: 60vh;
//     }
    
//     .right-cont{
//         height: 60vh;
//         text-align: left;
//     }
// }

@media (max-width: 480px) {
    .section3cont {height: 6vh;}
    .right-cont {height: 30vh;}
    .left-cont {height: 30vh;}
    .photobutt{
        margin-top: .5vh;
        margin-left: 1vw;
        height: 3vh;
        width: 25vw;
        border: none;
        background-color: #E6BEAE;
        font-family: 'poppins';
        color: white;
        font-size: 1.1vmax;
        font-weight: lighter;
    }

    }
    
    @media (min-width: 481px) and (max-width: 767px) {
        .section3cont {height: 35vh;}
        .right-cont {height: 30vh;}
        .left-cont {height: 30vh;}
    }
    @media (min-width: 768px) and (max-width: 979px) {
        .section3cont {height: 20vh;}
    .right-cont {height: 30vh;}
    .left-cont {height: 30vh;}
    }
    @media (min-width: 768px) and (max-width: 979px) {
        .section3cont {height: 32.75vh;}
    .right-cont {height: 30vh;}
    .left-cont {height: 30vh;}
    }
    
    @media (min-width: 1200px) {
        .section3cont {height: 40vh;}
        .right-cont {height: 30vh;}
        .left-cont {height: 30vh;}
    }