@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins&display=swap');


.sectionTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section2cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 95vw;
    height: auto;
    padding-bottom: 15%;
}

.imagehold2{
   
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 30vw;
}

.right-cont2{
   margin-top: -3%;
    text-align: right;
}
.left-cont2{
    height: 80vh;
}
.headertext2 {
    font-family: 'Helvetica Neue';
    
    
}

.body2{
    font-size: 1.75vw;
    font-weight: 300;
}


// @media (max-width: 1200px){
//     .imagehold{
//         background-image: url('./../../../media/homepage/hprow1.png');
//         background-size: contain;
//         background-repeat: no-repeat;
//         width: 60vw;
//         height: 60vh;
//     }
    
//     .right-cont{
//         height: 60vh;
//         text-align: left;
//     }
// }

@media (max-width: 480px) {
    .section2cont {height: 15vh;
        margin-bottom: -7.5%;}
    .right-cont2 {height: 30vh;}
    .left-cont2 {height: 30vh;}
    
    }
    
    @media (min-width: 481px) and (max-width: 767px) {
        .section2cont {height: 22vh;}
        .right-cont2 {height: 30vh;}
        .left-cont2 {height: 30vh;}
    }
   
    @media (min-width: 768px) and (max-width: 979px) {
        .section2cont {height: 22vh;}
    .right-cont2 {height: 30vh;}
    .left-cont2 {height: 30vh;}
    }
    
    @media (min-width: 1200px) {
        .section2cont {height: 30vh;}
        .right-cont2 {height: 30vh;}
        .left-cont2 {height: 30vh;}
    }
    @media (min-width: 1500px) {
        .section2cont {height: 80vh;}
        .right-cont2 {height: 30vh;}
        .left-cont2 {height: 30vh;}
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        /* For landscape layouts only */
        .section2cont {height: 30vh;}
        .right-cont2 {height: 30vh;}
        .left-cont2 {height: 30vh;}

      }