@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.background2 {
  background-image: url("../../../media/homepage/bboard.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
form{
  margin-top: 6rem;
}
.email1 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem;
}
.ran {
  display: flex;
  flex-direction: row;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 45%;
}
.imgbookher{

  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}
.city1 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem;
}
.return-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  font-family: "anchor-web";
  font-size: 4rem;
  color: #b2967d;
  margin-top: 10rem;
  margin-bottom: 40rem;
}
label {
  font-family: "anchor-web";
  text-align: left;
  margin: 1rem;
  font-size: 1.5rem;
}
input {
  background-color: #02020200;
  border-left: none;
  border-right: none;
  border-top: black;
  border-left: none;
  border-right: none;
  border-top: black;
}
textarea {
  background-color: #02020200;
  border-left: none;
  border-right: none;
  border-style: solid bold;
  border-top: black;
  width: 30vw;
  height: 10vh;
  margin-left: 1vw;
}
button.formb {
  background-color: #E6BEAE;
  font-size: 2rem;
  border: none;
  position: relative;
  bottom: -7%;
  width: 15rem;
  height: 5.5rem;
  margin-bottom: 2rem;
  color: white;
  font-family: 'Amatic SC';
  box-shadow: 1px 3px rgba(13, 13, 13, 0.35);
}

button.formb:hover {
  background-color: #333333;
  border-radius: 0.25rem;
  border: none;
  color: ;
}
.book-now1 {
  width: 100%;
}
.master-form {
  z-index: -2;
  width: 45vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
  background-color: white;

  border-radius: 1rem;
  
}
.bouncer{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 1rem;
    
}
.reserve {
  font-family: "anchor-web";
  font-weight: 800;
  font-size: 4.5rem;
  color: #b2967d;
}
.header {
  width: 100%;
  height: 100vh;
  font-family: poppins, light;
  margin: none;
  font-weight: 300;

  font-style: light;
}
.header {
  font-style: normal;
}

img.cassy {
}

@media (max-width: 678px) {
  .master-form {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5rem;
  }

}
@media (max-width: 478px) {
  .background2 {
    background-image: url("../../../media/homepage/bboard.png");
    background-size: cover;
    width: 100vw;
  }
  .cass {
    margin-top: 2rem;
  }
  .master-form {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  }
  .ran {
    width: 100vw;
    height: 15rem;
  }
  .bouncer{
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: 1rem;
    
}
  form {
    width: 20rem;
    font-size: .65rem;
    margin-left: 10vw;
    margin-top: 3rem;
  }
  input {
    background-color: #02020200;
    border-left: none;
    border-right: none;
    border-top: black;
    border-left: none;
    border-right: none;
    border-top: black;
    width: 10rem;
  }
  .reserve {
    font-family: "anchor-web";
    font-weight: 800;
    font-size: 2.5rem;
    color: #b2967d;
  }
  label {
    width: 10rem;
    font-size: 1rem;
  }
  .email1{
    width: 15rem;
  }
  textarea{
    width: 55vw;
    margin-left: 4vw;
  }
  button.formb{
    margin-top: 1rem;
    margin-left: .5rem;
    height: 10vh;
  }
}
@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 980px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
 
}
@media (min-width: 1500px) {
 
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */


}