.rentals-pouncy {
  height: auto;
  width: 100vw;
}
.coonty{
    height: auto;
}
.castcont {
  height: auto;
  position: relative;
  top: 130vh;
  width: 100vw;
}

.cast1 {
  background-image: url("./../../../media/rentals/cassy.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  margin-top: 4rem;
  margin-left: 2rem;
}

.cast2 {
    margin-top: 3rem;
  background-image: url("./../../../media/rentals/mixxy.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  margin-left: 2rem;
}
.cast3 {
    margin-top: 3rem;
  background-image: url("./../../../media/rentals/toddy.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  margin-left: 2rem;
}
.cast4{
  background-image: url('./../../../media/rentals/poppin.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  margin-top: 3rem;
  margin-left: 2rem ;
}
@media (max-width: 587px) {
    .castcont {
        margin-left: -1.5rem;
        width: 100vw;
        height: 100%;
      }
    .cast1 {
        background-image: url("./../../../media/rentals/cassy.png");
    
        background-size: contain;
        background-repeat: no-repeat;
        height: 25vh;
        width: 90vw;
        margin-top: 5rem;
      }
      
      .cast2 {

        background-size: contain;
        background-repeat: no-repeat;
        height: 25vh;
        width: 90vw;
        margin-top:.25rem;
      
      }
      .cast3 {

        background-size: contain;
        background-repeat: no-repeat;
        height: 25vh;
        width: 90vw;
        margin-top: .25rem;
      
      }
      .cast4 {

        background-size: contain;
        background-repeat: no-repeat;
        height: 25vh;
        width: 90vw;
        margin-top: .25rem;
        margin-left: 2rem;
      }
}
